
<section style="background-image: url('https://i.imgur.com/RGKdaDc.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

  <!-- Mask & flexbox options-->
  <div
    class="mask rgba-black-light d-flex justify-content-center align-items-center"
  >
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-12 mb-4 white-text text-center">
          <h1
            class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5"
          >
            <strong>Twoje wypożycznie przebiegło pomyślnie!</strong>
          </h1>
          <h5
            class="text-uppercase mb-4 white-text"
          >
            <strong> ---------- </strong>
          </h5>
          <h5
            class="text-uppercase mb-4 white-text"
          >
            <strong> Zaczekaj teraz na potwierdzenie przez wypożczającego.</strong>
          </h5>

          <button
              class="btn btn-info ml-2"
              type="button"
              id="dropdownMenuButton"
              aria-expanded="false"
              (click)="ok()">
                Ok
              </button>

        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Content -->
  </div>
  <!-- Mask & flexbox options-->


</section>


