<div class="row">
  <label for="item" class="col-4 col-form-label"
    >{{label}}</label
  >
  <div class="col-6">
    <div *ngIf="item && !isItemChanged">
      {{ item }}
    </div>
    <div *ngIf="isItemChanged">
      <input
        id="item"
        name="item"
        type="text"
        class="form-control"
        [(ngModel)]="item"
      />
    </div>
  </div>
  <div class="col-1">
    <button
      class="btn btn-light"
      *ngIf="!isItemChanged"
      (click)="onItemChanged()"
    >
      Edytuj
    </button>
    <button
      class="btn btn-light"
      *ngIf="isItemChanged"
      (click)="onItemChanged()"
    >
      Ok
    </button>
  </div>
</div>
